<h1>Welcome to the Homepage</h1>

<!-- <%= @posts %> -->

<% @posts.each do |post| %>
  <h3><%= post[:title] %></h3>
  <a href="/posts/<%= post[:id] %>">See more</a>
  <a href="/posts/<%= post[:id] %>/edit">Edit</a>

  <form action="/posts/<%= post[:id] %>" method="post">
    <input type="submit" value="DELETE">
    <input type="hidden" name="_method" value="DELETE">
  </form>
<% end %>
